# Ignorar node_modules en todo el proyecto
node_modules/

# Ignorar archivos de logs
npm-debug.log
yarn-error.log

# Ignorar dependencias de build (si las tienes)
.next/
out/

# Ignorar configuraciones de VSCode
.vscode/

# Ignorar archivos de sistema (como Thumbs.db en Windows o .DS_Store en Mac)
.DS_Store

# Ignorar las variables de entorno locales (debe ser gestionado en la configuración de producción)
.env.local
.env.*.local